---
import logo from "../assets/logo.png"
---

<header class="flex items-center justify-between fixed w-full h-20 px-[6vw] left-0 z-30">
	<a href="/" class="text-3xl inline-block flex items-center justify-between gap-2 rf">
        <img src={logo} alt="MeterBet">
        <p>MeterBet</p>
    </a>

	<nav class="flex items-center glass justify-center md:w-[75%] lg:w-max gap-4" role="navigation">
			<a href="/">Games</a>
			<a href="/">Docs</a>
			<a href="#" class="p-3 rounded-xl bg-purple-700 hover:text-purple-700 hover:bg-white transition-colors ease-in">Launch dApp</a>
	</nav>
</header>